@media screen and (max-width: 1920px){
    body{
        background: rgb(195, 255, 127);
    }
}
@media screen and (max-width: 1280px){
    body{
        background: rgb(127, 255, 253);
    }
}
@media screen and (max-width: 800px){
    body{
        background: rgb(255, 136, 255);
    }
}
@media screen and (max-width: 480px){
    body{
        background: rgb(127, 136, 255);
    }
}