*{
    margin: 0;
}
body{
    background: rgb(255, 55, 205);
    display: flex;
    min-height: 100vh;
}
.slider{
    width: 1000px;
    height: 500px;
    margin: auto;
    position: relative;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: flex-end;
}
.slider img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all 1s;
}
.slider input{
    display: none;
}
.slider input:checked ~ img{
    opacity: 1;
}
.slider input + label{
    position: relative;
    top: 150px;
    z-index:50; 
    margin: 0 30px 0 30px; 
    width: 20px;
    height: 20px;  
    background: white;
    display: block;
    border-radius: 50%;
    border: 2px solid rgb(247, 222, 1);
    cursor: pointer;
}
.slider input:checked + label{
    background: rgb(3, 241, 23);
    border: 2px solid white;
}
